/* App.css */

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative; /* Add this to allow absolute positioning inside .App */
}

.App-header {
  background-color: #333;
  padding: 20px 0;
  color: white;
}

.App-main {
  position: absolute; /* Change to absolute positioning */
  bottom: 0; /* Position at the bottom */
  width: 100%; /* Take up the full width */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blank-element {
  flex-grow: 1; /* Make the blank element grow to occupy remaining space */
  background-color: black;
  background-image: url("../public/cosmo-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

.response-box,
.message-box {
  width: 90%;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgba(248, 248, 248, 0.8); /* Adjust the alpha (0.8) for transparency */
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333; /* Set a suitable text color for black background */
}

.message-input {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message-input textarea {
  width: calc(100% - 70px);
  padding: 8px;
  margin: 4px 0;
  border: none;
  border-radius: 3px;
  resize: none; /* Disable textarea resizing */
  outline: none;
  font-family: 'Arial', sans-serif;
  font-size: 20px;
}

.submit-button {
  width: 60px;
  padding: 8px 10px;
  background-color: #6b38fb; /* Light purple background color for contrast */
  color: white; /* White text color for readability */
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #4a1c9f; /* Darker purple color on hover for feedback */
}

pre {
  white-space: pre-wrap;
}