.todo-list {
    flex: 0 0 300px;
    max-height: calc(100vh - 200px);
    max-width: fit-content;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    padding: 10px;
    text-align: left;
}

.todo-title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.todo-error {
    color: red;
}

.todo-items {
    list-style: none;
    padding: 0;
}

.todo-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px 0;  /* Updated margin */
    padding: 10px;
    background-color: #f9f9f9;
}

.todo-task, .todo-date {
    margin: 0 5px;
}