name: Cosmo Frontend

on:
  pull_request:
    paths:
      - 'frontend/**'   # Only trigger the workflow if changes are made in the backend folder
      - '.github/workflows/frontend_ci.yml'   # Only trigger the workflow if changes are made in the workflow file

jobs:
  build:
    # Defines the type of runner the job runs on
    runs-on: ubuntu-latest
    steps:
      - name: Checkout to the repository
        uses: actions/checkout@v3

      - name: Set up NodeJS environment
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'


      - name: Install dependencies
        run: npm install

      - name: Lint
        # Custom script for checking the linting and formatting being in place
        run: npm run lint

        # Run test cases and this could ensure minimum coverage as well if set
      - name: Test
        run: npm run test